@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Nunito&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}
header
{
    width: 100%;
    background: linear-gradient(0deg,#0a1831 -3.67%,#0f1d9b 75.61%,#0f1d9b 95.17%);
    position: sticky;
    top: 0;
    
}
.menu-bar
{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1.5rem;
}
.menu-bar .btn
{
	margin-right: 20px;
}
.menu-bar button
{
	background: linear-gradient(120deg,#9b33b5,#4f6af1);
	color: white;
	padding: 5px;
	border:  none;
	border-radius: 1rem;
	padding: 12px 28px;
	font-size: 1rem;
	font-weight: 600;
	margin-right: 10px;
}
.app {
	display: flex;
	min-height: 100vh;
}

.toggle-menu {
	display: none;
	position: fixed;
	top: 1rem;
	right: 0rem;
	width: 50px;
	height: 50px;
	border-radius: 99px;
	background-color: #2e3047;
	cursor: pointer;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.toggle-menu.is-active .hamburger > span {
  transform: rotate(45deg);
}
.toggle-menu.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.toggle-menu.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar-content {
	flex: 1 1 0;
	width: 300px;
	padding: 2rem 2rem;
    position: fixed;
    top: 20;
    height: 100vh;
	background-color: #2e3047;
}

.sidebar-content h3 {
	color: #707793;
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.sidebar-content .menu {
	margin: 0 -1rem;
}

.sidebar-content .menu .menu-item {
	display: block;
	padding: 1em;
	color: #FFF;
	text-decoration: none;
	transition: 0.2s linear;
}

.sidebar-content .menu .menu-item:hover,
.sidebar-content .menu .menu-item.is-active {
	color: #3bba9c;
	border-right: 5px solid #3bba9c;
}

.sidebar-content .menu .menu-item:hover {
	border-right: 5px solid #3bba9c;
}

.content {
	flex: 1 1 0;
	padding: 2rem;
    margin-left: 300px;
    
}
.content .main-content
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.content h1 {
	color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
	font-weight: 400;
}
.content h2
{
    font-size: 2rem;
    color: #3C3F58;
    margin-bottom: 1rem;
	font-weight: 400;
}
.content .hr-tag
{
    width: 100%;
    height: 2px;
    background: #c1c5e198;
}
.content .list-style 
{
    margin: 1.2rem;
}
.content .list-style li
{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: #74788a;
}
.content .list-style li ul li
{
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.content p {
	color: #707793;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content span
{
	color: rebeccapurple;
}
.content .note
{
	background: #fef7ed;
	border-left: 5px solid #f3a12c;
	padding: 1rem;
	border-radius: 3px;
}
.content .note h4
{
	color: #43484d;
}
.content .note ul li
{
	margin-left: 1.5rem;
	font-size: 14px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
@media (max-width: 1280px) {
	
	.main-content img
	{
		width: 400px;
	}
}

@media (max-width: 768px) {
	.toggle-menu {
		display: block;
	}
	.content {
        margin-left: 0px;
	}
	.sidebar-content {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;
	}
	.main-content img
	{
		width: 300px;
	}
	.sidebar-content.is-active {
		left: 0;
	}
}