@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Nunito&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-margin-top: 110px;
}

header {
    width: 100%;
    background: linear-gradient(to right,#150f28, #2f3160);
    position: sticky;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    top: 0;
	z-index: 100;

}

.menu-bar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-left: 1.5rem;
 padding-top: 0.8rem;
 padding-bottom: 0.8rem;
}

header p
{
	color: white;
}
.app {
	display: flex;
	min-height: 100vh;
}

.toggle-menu {
	display: none;
	position: fixed;
	top: 1.2rem;
	right: 0rem;
	width: 50px;
	height: 50px;
	border-radius: 99px;
	cursor: pointer;
	z-index: 100;
}

.hamburger-menu {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger-menu > span,
.hamburger-menu > span::before,
.hamburger-menu > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color:#3bba9c;
  transition-duration: .25s;
}

.hamburger-menu > span::before {
  content: '';
  top: -8px;
}

.hamburger-menu > span::after {
  content: '';
  top: 8px;
}

.toggle-menu.is-active .hamburger-menu > span {
  transform: rotate(45deg);
}

.toggle-menu.is-active .hamburger-menu > span::before {
  top: 0;
  transform: rotate(0deg);
}

.toggle-menu.is-active .hamburger-menu > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar-content {
	flex: 1 1 0;
	width: 300px;
	padding: 2rem 2rem;
    position: fixed;
    top: 20;
    height: 100vh;
	background-color: white;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.sidebar-content h3 {
	color: #707793;
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.sidebar-content .menu {
	margin: 0 -1rem;
}

.sidebar-content .menu .menu-item {
	display: block;
	padding: 1em;
	color: black;
	text-decoration: none;
	transition: 0.2s linear;
}

.sidebar-content .menu .menu-item.is-active {
	color: white;
	background: linear-gradient(to right,#150f28, #2f3160);
	border: 2px none;
	border-radius: 5px;
	border-right: 5px solid #64c4ff;
}


.content {
	flex: 1 1 0;
	padding: 2rem;
    margin-left: 300px;
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content h1 {
	color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
	font-weight: 400;
}

.content h2 {
    font-size: 2rem;
    color: #3C3F58;
	margin-top: 1rem;
    margin-bottom: 1rem;
	font-weight: 400;
}

.content .hr-tag {
    width: 100%;
    height: 2px;
    background: #c1c5e198;
}

.content .list-style  {
    margin: 1.2rem;
}

.content .list-style li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #6b6f80;
}
.code-snippet
{
	background: rgb(243, 243, 235);
	padding: 1rem;

}

.content .list-style p:first-child
{
	font-weight: 700;
	display: inline;
	color: #43484d;
}
.content .list-style p span
{
	font-weight: 700;
	color: #3C3F58;
}
.content .list-style p strong
{
	color: #f2564d;
	background: rgba(0, 0, 0, 0.06);
	font-size: 14px;
	padding: 5px;
	border: 2px solid none;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
}
.code-snippet span
{
	display: block;
	font-size: 1rem;
	color: #3C3F58;
	margin-bottom: 10px;
}
.code-snippet img
{
	float: right;
}
.content .list-style li ul li {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.content .list-style  a {
    text-decoration: none;
	color: #4f6af1;
}
.content p {
	color: #707793;
    margin-top: 20px;
    margin-bottom: 20px;
}



.content .important-note {
	background: #fef7ed;
	border-left: 5px solid #f3a12c;
	padding: 1rem;
	border-radius: 3px;
	margin-bottom: 10px;
}

.content .important-note h4,.content .general-note h4 {
	color: #43484d;
}

.content .important-note ul li,.content .general-note ul li, .content .warning-note ul li {
	margin-left: 1.5rem;
	font-size: 14px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.content .general-note {
	background: #f3fbf7;
	border-left: 5px solid #5ac891;
	padding: 1rem;
	border-radius: 3px;
}

.content .warning-note {
	background: #f2564d;
	border-left: 5px solid  #6b0d08;
	color: white;
	padding: 1rem;
	border-radius: 3px;
	margin-top: 1rem;
}
.content .warning-note h4
{
	color: white;
}

#basic-info .main-content img {
	max-width: 100%;
	display: block;

}
#directory .main-content img {
	max-width: 100%;
	display: block;

}

.ui-list-style
{
	margin-bottom: 0.5rem;
	margin-left: 20px;
}

.ui-list-style p
{
	font-weight: 700;
	color: #43484d;
	font-size: 1.1rem;
}
.ui-list-style span
{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.ui-list-style span span
{
	font-weight: 700;
	display: inline;
	font-size: 14px;
	
}

#directory span
{
  font-weight: 700;
  color: #3C3F58;
}
#directory ul li 
{
	margin-left: 30px;
	font-weight: 700;
}
.nft-ui 
{
	display: flex;
	gap: 20px;
}
.nft-ui img
{
	width: 290px;
}
.nft-image
{
	display: flex;
	gap: 20px;
}
.nft-image img
{
	width: 290px;
}

.nft-ui-collection
{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1rem;
}

.nft-ui-my-collection
{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 1rem;

}
#contact-us
{
	height: 100vh;
}

.contact-card
{
	display: grid;
	grid-template-columns: repeat(3,1fr);
    background: white;
	gap: 2rem;	
	margin: 0 auto;
}
.contact-card .contact-card-one
{
	box-shadow: 0 2px 8px 0 rgba(43, 168, 116, 0.2);
	padding: 1.5rem;
	border-radius: 10px;
	border: 2px none;
}
.contact-card .contact-card-one .contact-card-content
{
	text-align: center;
}
.contact-card-content img{
	border-radius: 50%;
	border: 2px solid rgba(43, 168, 116, 0.2) ;
	padding: 10px;
}
.contact-card .contact-card-one p span
{
	
	font-size: 16px;
    font-weight: 700;
	color: #2f3160;
}

.contact-form
{
	background-color: #fff;
	box-shadow: 0 0 20px hsla(0,0%,62%,.16);
	width: 50%;
	margin: 0 auto;
	padding: 10px;
	border: 2px black;
	border-radius: 5px;

}
.contact-form input
{
	width: 100%;
	border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
	border-radius: 3px;
    padding: 10px;
	margin-bottom: 10px;
}
.contact-form input:focus
{
	outline: none;
}
.contact-form textarea
{
	width: 100%;
	border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
	border-radius: 3px;
    padding: 10px;
	margin-bottom: 10px;
	height: 100px;
}
.contact-form textarea:focus
{
	outline: none;
}
.contact-form button
{
	display: block;
	margin: 0 auto;
	background: #57b06b;
	padding: 10px 20px;
	color: white;
	border: 2px none;
	border-radius: 5px;
	font-size: 18px;
}
.code-snippet {
	position: relative;
  }
  
  .toast {
	visibility: hidden;
	position: absolute;
	top: -25%;
	right:-3%;
	transform: translateX(-50%);
	background-color: #555;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	font-size: 14px;
	opacity: 0;
	transition: opacity 0.3s;
  }
  
  .toast.show {
	visibility: visible;
	opacity: 1;
  }
@media (max-width: 768px) {

	.toggle-menu {
		display: block;
	}

	.content {
        margin-left: 0px;
	}
    
	.sidebar-content {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;
	}
	
	.sidebar-content.is-active {
		left: 0;
	}
	.nft-ui
	{
		display: block;
	}
	.nft-image
	{
		display: block;
	}
	
	.contact-form
{
	width: 100%;
}
.contact-card
{
	display: grid;
	grid-template-columns: repeat(1,1fr);
	
}
}